/*
 * pixx.css - PIXX
 * (C) Theodore Kluge 2014-2015
 * villa7.github.io
*/

html,
body {
/*    position: fixed;*/
	height: 100%;
/*    height: auto;*/
	width: 100%;
	margin: 0;
	padding: 0;
	color: #ccc;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #1a1a1a;
    overflow: hidden;
    /*overflow-x: hidden;*/
	list-style-type: none;
/*    position: relative;*/
    position: absolute;
}
/*body {
    padding-bottom: 30px;   
}*/
a {
    color: #ccc;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: none;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    display: none;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0); 
    display: none;
}
::selection {
	background: #400946;
}
#brightcolor,
.brightcolor {
    color:#80069D;
}
.nicescrollrail,
.nicescroll-rails {
    z-index: 9999 !important;
    left: auto !important;
    right: 0;
}
sub {
    font-size: 40%;
}
.alertbox {position: fixed; bottom: 20px; right: 20px; width: auto; color: #fff; text-align: center; z-index: 1000; } .alert-item {position: relative; display: none; border: 1px solid transparent; border-radius: 5px; width: auto; padding: 3px 20px; margin: 0; margin-top: 3px; } .alert-error {border-color: #f70d1a !important; background: #f70d1a !important; } .alert-warning {border-color: #9b7100 !important; background: #9b7100 !important; } .alert-info {border-color: #1589ff !important; background: #1589ff !important; } .alert-success {border-color: #41a317 !important; background: #41a317 !important; }
input:active,
input:focus,
button:active,
button:focus {
    outline: 0 none;
    border-bottom: 1px solid #80069D;
}
header {
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    margin: 0;
    padding: 10px;
    background: rgba(26, 26, 26, 0.8);
    z-index: 100;
    border-bottom: 1px solid #80069D;
    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
header:after {
    content: '';
}
header h1 {
    margin: 0;
    padding: 0;
    float: left;
}
.title {
    font-family: 'quicksandlight';
}
.capitalize {
    text-transform: capitalize;
}
.btn {
    cursor: pointer;
    border-radius: 6px;
    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
    padding: 11px 20px;  
    margin: 0;
/*    background: rgba(255,255,255,.1);*/
    background: transparent;
    border: 1px solid #80069D;
    color: #ccc;
}
.btn:hover {
    background: #80069D;
}
.btn:active {
    border-color: #400946;
    background: #400946;
}
.button-group-h:not(.h-v) .btn {
    margin-left: 4px;
}
.button-group-v {
    position: absolute;
/*    display: none;*/
/*    max-width: 326px;*/
    width: 326px;
/*    width: 0;*/
    right: -350px;
/*    right: 0;*/
/*    opacity: 0;*/
    height: auto;
    top: 60px;
    z-index: 101;
        background: rgba(26, 26, 26, 0.8);
    padding: 1px 10px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #80069D;
    border-top: 1px solid #1a1a1a;
    border-right: none;
/*    border-top: none;*/
    -webkit-transition: all .4s ease;
      transition: all .4s ease;
}
.button-group-v button {
    padding: 11px auto;  
    margin: 0 0 9px 0;
    width: 100%;
    z-index: 101;
}
@media (min-width: 500px) { 
	header .button-group-h {
        position: relative;
        float: right;
        /*position: absolute;
        top: 10px;
        right: 10px;*/
    }
    header .hamburger {
        display: none;
    }
}
@media (max-width: 500px) { 
	header .button-group-h {
        position: absolute;
/*        display: none;*/
/*        max-width: 50%;*/
        width: 50%;
/*        width: 0;*/
        right: -300px;
/*        right: 0;*/
/*        opacity: 0;*/
        top: 59px;
        height: auto;
        z-index: 101;
        background: rgba(26, 26, 26, 0.8);
        padding: 1px 10px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid #80069D;
        border-top: 1px solid #1a1a1a;
        border-right: none;
        -webkit-transition: all .4s ease;
          transition: all .4s ease;
    }
    header .button-group-h button {
        padding: 11px auto;  
        margin: 0 0 9px 0;
        width: 100%;
        z-index: 101;
    }
    header .button-group-v {
        width: 50%;
/*        max-width: 50%;*/
    }
    header .hamburger {
        position: relative;
        display: inline;
        float: right;
    }
    .hamburger button {
        margin: 0 4px;
    }
    .hamburger .btn:hover {
        background: #80069D !important;
    }
    header .hamburger button i {
        color: #ccc;
    }
}
.hamburger .hamburger-line {
    position: absolute;
    width: auto;
    left: 15px;
    right: 15px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.hamburger #hl-1 {
    top: 12px;
}
.hamburger #hl-2 {
    top: 19px;
}
.hamburger #hl-3 {
    top: 26px
}
.grid-box {
    position: absolute;
    margin: 0;
    padding: 10px;
    padding-top: 70px;
    top: 0px;
    height: calc(100% - 60px) !important;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    overflow: auto;
}
.grid {
    width: calc(100% - 20px);
    max-width: 100%;
    padding: 0;
    /*background: red;*/
    margin: 0;
    margin-bottom: 10px;
    /*overflow: auto;*/
}
.dz {
    /*background: red;*/
    position: absolute;
    height: calc(100% - 60px);
    top: 60px;
    width: 25%;
    left: 75%;
    margin: 0;
    padding: 0;
    /*z-index: 5;*/
    pointer-events: none;
}
.dz form {
    position: absolute;
    /*background: blue;*/
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.dropzone-previews {
    background: rgba(26, 26, 26, 0.97);
    border-left: 1px solid #80069d;
    position: absolute;
    height: calc(100% - 60px);
    top: 60px;
    right: -401px;
    z-index: 2;
    width: 50%;
    max-width: 400px;
    -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
}
.dz-details:nth-child(odd) {
    background: rgba(255,255,255,.04);  
}
.dz-details {
    padding: 10px;
    background: transparent;
}
.dz-filename {
    float: left;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dz-size {
    color: #aaa;
    float: right;
}
.dz-size span {
    width: auto;
}
.dz-progress {
    margin-top: 24px;
    height: 3px;
    width: 100%;
    background: rgba(255,255,255,.07);
}
.dz-upload {
    position: absolute;
    background: #80069d;
    width: 0;
    max-width: calc(100% - 20px);
    height: 3px;
    z-index: 5;
}
.grid table {
    width: 100%;
    color: #aaa;
    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.grid tr {
    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.grid tr:nth-child(odd):not(.tbl-header) {
    background: rgba(255,255,255,.02);
}
.grid tr:not(.tbl-header):hover {
    background: #400946;
}
.grid td {
    text-overflow: ellipsis;
    width: auto;
}
.grid .tbl-header {
    background: rgba(255,255,255,.08);
}
.grid .tbl-content {
    padding: 5px;
}
.grid .tbl-col-del {
    width: 20px;
    text-align: center;
}
.grid .tbl-col-del a:hover {
    color: #F42E0B;
}
.grid a {
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.grid a:hover {
    color: #80069D;
}
.loadmore {
    width: 200px;
    margin-left: calc(50% - 110px);
}